<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Hello <%= @user.nomeExibicao %></h1>
		<p>Your request has been received successfully. It is waiting for the system administrator approval now; then if you are accepted or not you will receive another e-mail to confirm.</p>
		<p>Thanks for using our system</p>
	</body>
</html>