<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Hello <%= @user.nomeExibicao %></h1>
		<p>
			Your account on the Bioinformatics System has been approved!
		</p>
		<p>
			Now you can logon to the system and start your work. 
		</p>
	</body>
</html>