<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Hello <%= @user.nomeExibicao %></h1>
		<p>
			Congratulations, your coordinator account on the Bioinformatics System has been approved!
		</p>
		<p>
			The system administrator has approved your request.
			You can logon to the system and start your projects now.
		</p>
	</body>
</html>