<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Hello <%= @user.nomeExibicao %></h1>
		<p>
			Unfortunately, your account on the Bioinformatics System has been rejected...
		</p>
		<p>
			You can try to ask again, maybe the reasons you've gave were not enough for the coordinator to approve. Try to ellaborate a little more and try again.<br/>
			Thanks...
		</p>
	</body>
</html>