/* Arquivo de estilos personalizados */

/* Override */
body
{
	color:				#444;
	margin:				0px;
	background-image:	url('images/bg.png');
	background-color:	#F0F0F2;
	width:				100%;
	height:				100%;
	background-attachment:	fixed;
}
/**/


/* Elementos de página */
#flash_notice
{    
	font-size: 			12pt;
    text-align: 		center;
    text-shadow: 		1px 0px 2px rgba(0,0,0,0.13);
    color: 				#8E6A32;
	box-shadow: 		0px 4px 5px #000;
}

#tudo
{
	width:				1280px;
	margin:           	0 auto;
	margin-top:			40px;
	margin-bottom:		60px;
	padding:          	0;
	background-image:	url("images/ufpr_bg.jpg");
	background-position: top;
	box-shadow: 		1px 5px 12px #000;
    border-width: 		2px;
}

#tudo h2
{
	font-family: 		"Verdana", Sans-serif;
	font-size: 			17pt;
	margin: 			0px;
	color: 				#FFF;
	text-shadow: 		1px 1px 2px rgba(0,0,0,0.55);
	margin-bottom: 		20px;
	background-color: 	#dccd98;
	font-weight: 		normal;
	box-shadow: 		2px 2px 4px rgba(0,0,0,0.4);
	border-radius: 		1px;
	padding: 			2px;
	padding-left: 		10px;
}

#yield
{
	margin:				0px;
	padding:			10px;
	background-color: 	#FFF;
}

#yield p
{
    font-family: 		"Verdana", Sans-serif;
    font-size: 			11pt;
    margin: 			6px;
    color: 				#444;
    text-shadow: 		1px 1px 1px rgba(0, 0, 0, 0.14);
}

#yield a:link,
#yield a:visited
{
	color:				#844;
	text-decoration:	none;
}
#yield a:hover
{
	color:				#678;
	text-decoration:	underline;
}

#flash_notice
{
	margin-bottom:    	4px;
	padding:          	8px;
}

#logo
{
	background-repeat:	no-repeat;
	width:				1280px;
	height:				350px;
}

#logo h1,
#logo h3
{
}

#logo h1
{
	font-size:			30pt;
	text-shadow: 		1px 0px 6px #FFF;
	line-height: 		normal;
	margin: 			0px;
	text-align:			right;
	position:			relative;
	right:				20px;
	top:				20px;
}

#logo h3
{
	font-size:			20pt;
	text-shadow: 		1px 0px 6px #FFF;
	line-height: 		normal;
	margin: 			0px;
	text-align:			right;
	position:			relative;
	right:				20px;
	top:				20px;
}

#link_login
{
	height:				28px;
	text-align:			right;
	font-size:			10pt;
	background-color:	#d5e9ff;
	font-weight:		bold;
}

#link_login p
{
    height: 			24px;
    line-height: 		24px;
    margin:				0px;
    padding-right: 		8px;
    padding-top: 		2px;
}

#link_login a:link
{
	text-decoration:	none;
}

#link_login a:hover
{
	text-decoration:	underline;
}

#modal_login
{
	
}

/**/


/* Aparência geral de campos de formulário (fonte / tamanho / cor / etc) */

.label,
.field,
.field input
{
	font-size: 			11pt;
}

.label
{
	vertical-align: 	middle;
	color: 				#444;
	font-family: 		"Verdana", Sans Serif;
	
}

.field
{
	font-family: 		"Verdana", Sans Serif;
}

.field input
{
	padding: 			2px;
	border:				1px solid #777;
}

.submit
{
	text-align:			right;
	padding:			6px 0px;
}

.error_messages
{
	background-color: 	#FFDF9A;
	color:				#C14203;
	padding: 			6px;
}

.error_messages ul
{
	margin:				0px;
}

.error_messages li
{
	list-style-type: 	circle;
}

.box
{
	border:				1px solid #999;
	box-shadow: 		1px 1px 4px rgba(0, 0, 0, 0.44);
	margin:				10px;
}

.red
{
	color:				#D00;
}

#coord_signup,
#user_signup
{
	border: 			2px solid #cccccc;
	padding: 			10px;
	border-radius: 		4px;
	box-shadow: 		2px 2px 6px rgba(0, 0, 0, 0.44);
	background-color: 	#f7f7f7;
}

/**/


/* Menus e paineis de controle */
#coord_pane,
#admin_pane
{
	width:				100%;
}
#coord_pane td,
#admin_pane td
{
	width:				50%;
}

#coord_pane	h3,
#admin_pane	h3
{
	margin:				0px;
	padding:			0px;
	color:				#443;
}

#coord_pane	h4,
#admin_pane	h4
{
	margin:				0px;
	padding:			2px;
	color:				#555;
}

#coord_pane .bloco_acao,
#admin_pane .bloco_acao
{
	border: 			2px solid #ede3ca;
	box-shadow: 		2px 2px 6px rgba(0, 0, 0, 0.44);
	border-radius: 		4px;
	padding:			0px;
}

#coord_pane .titulo,
#admin_pane .titulo
{
	background-color:	#f3efe2;
	padding:			6px;
	margin:				0px;
}

#coord_pane .conteudo,
#admin_pane .conteudo
{
	padding:			10px;
}


#table_coord_projects,
#table_coord_researchers,
#table_admin_projects,
#table_admin_coords,
#table_admin_approval
{
	border:				0px;
	width:				100%;
	color:				#333;
}

#table_coord_projects .conteudo,
#table_coord_researchers .conteudo,
#table_admin_projects .conteudo,
#table_admin_coords .conteudo,
#table_admin_approval .conteudo
{
	background-color:	#fcfbf9;
	line-height:		32px;
}

#table_coord_projects td,
#table_coord_researchers td,
#table_admin_projects td,
#table_admin_coords td,
#table_admin_approval td
{
	padding-left:		8px;
}

#table_coord_projects .titulo,
#table_coord_researchers .titulo,
#table_admin_projects .titulo,
#table_admin_coords .titulo,
#table_admin_approval .titulo
{
	background-color:	#f3efe2;
}

/**/


/* Campos específicos em formulários */

#modal_login .label
{
	width:				100px;	
}

#coord_signup .label,
#user_signup .label
{
	min-width:			200px;	
}
/**/


/* Genéricos */
td
{
	vertical-align:   	top;
}

table .generic
{
	border: 			2px solid #ede3ca;
	box-shadow: 		2px 2px 6px rgba(0, 0, 0, 0.44);
	border-radius: 		4px;
	padding:			0px;
}

td .label
{
	background-color:	#f3efe2;
	padding-left:		4px;
	padding-right:		4px;
}

td .field
{
	background-color:	#fcfbf9;
	padding-left:		4px;
	padding-right:		4px;
}

hr
{
	background-color:	#cccccc;
	border:				1px solid #cccccc;
	height:				1px;
}

.center
{
	margin:				0px auto;
}

.field textarea
{
	width:				100%;
	min-height:			80px;
}

.textarea_s
{
	width:				300px!important;
}
.textarea_m
{
	width:				500px!important;
}
.textarea_l
{
	width:				800px!important;
	min-height:			240px!important;
}

.button button,
.button input[type=submit]
{
	min-width:			60px;
}
/**/