<h2>Request complete</h2>

<p>
	<b>Instructions:</b><br/>
	<br/>
	Your access request was made successfully. Soon you will receive an e-mail at the given address (<%= @user.email %>) confirming your subscription to the system.<br/>
	The project coordinator will receive another e-mail regarding your approval. You must wait until it is approved before you can logon to the system and colaborate
	to the project, again, you will be contacted by e-mail if your request is either accepted or rejected.
</p>

<br/><br/>
<br/><br/> 